<a href="{{ site_base }}/article/detail/{{ url_escape(article['title']) }}/{{ article["id"] }}" class="section-cases-item">
	<img src="{{ article["thumb_500"] }}" alt="Imagen de la historia" class="u-responsive-img-full">
	<img src="https://cdn.loadingplay.com/static/images/8e3d52a65ab3e4a1ce9c555bca6b5beb_triangleprimary.png" alt="Categoría" class="section-cases-item-icon u-margin-vertical-smallest">
	<p class="paragraph">{{ article["title"] }}</p>
	<p class="paragraph paragraph-light art-h">{{ article["description"] }}</p><p>ver mas</p>
</a>
